<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:versionCode="1"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test3">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Test3"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AuthenticationExplanationActivity" />
        <activity android:name=".FavShopsActivity" />
        <activity android:name=".DealsActivity" />
        <activity android:name=".DealDetailActivity"
            android:theme= "@style/Theme.Test3.NoActionBar"/>
        <activity android:name=".ChangelogActivity" />
        <activity android:name=".LoginActivity" />
    </application>

</manifest>